__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.env
venv/
.venv/
venv.bak/

node_modules/
dist/
build/

.git
.github

.DS_Store
Thumbs.db

.vscode/
.idea/

docker-compose.override.yml

*.log
*.sqlite3
*.db